body {
  background-color: black;
  text-align: center;
  color: white;
}

button {
  background-color: green;
  color: red;
  font-size: 36px;
}

button:hover {
  background-color: blue;
  color: yellow;
}
