body {
  background-color: black;
  text-align: center;
  color: white;
}

.boardContainer{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
}

/*.boardQuad{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  position: relative;
  border: 1px solid rgba(255,255,255,.8);
  width: 500px;
  height:500px;
  background-color: #FAEBD7;
  z-index: 2;
  align-items: center;
  justify-items: center;
}*/
.boardQuad0{
   transform: rotate(0deg) translateY(0%);
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 50px;
   position: relative;
   border: 1px solid rgba(255,255,255,.8);
   width: 500px;
   height:500px;
   background-color: #FAEBD7;
   z-index: 2;
   align-items: center;
   justify-items: center;
}
.boardQuad90{
   transform: rotate(90deg) translateY(0%);
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 50px;
   position: relative;
   border: 1px solid rgba(255,255,255,.8);
   width: 500px;
   height:500px;
   background-color: #FAEBD7;
   z-index: 2;
   align-items: center;
   justify-items: center;
}
.boardQuad180{
   transform: rotate(180deg) translateY(0%);
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 50px;
   position: relative;
   border: 1px solid rgba(255,255,255,.8);
   width: 500px;
   height:500px;
   background-color: #FAEBD7;
   z-index: 2;
   align-items: center;
   justify-items: center;
}
.boardQuad270{
   transform: rotate(270deg) translateY(0%);
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 50px;
   position: relative;
   border: 1px solid rgba(255,255,255,.8);
   width: 500px;
   height:500px;
   background-color: #FAEBD7;
   z-index: 2;
   align-items: center;
   justify-items: center;
}
/*
.boardQuad:after{
  content: "";
  display:block;
  padding-bottom: 100%;
}
*/
.openSpot1{
  width: 50%;
  height:50%;
  background-color: #D3D3D3;
  z-index: 3;
  border-radius: 50%;
}
.openSpot2{
  width: 50%;
  height:50%;
  background-color: #D3D3D3;
  z-index: 3;
  border-radius: 50%;
}
.openSpot3{
  width: 50%;
  height:50%;
  background-color: #D3D3D3;
  z-index: 3;
  border-radius: 50%;
}
.openSpot4{
  width: 50%;
  height:50%;
  background-color: #D3D3D3;
  z-index: 3;
  border-radius: 50%;
}

button {
  background-color: white;
  color: black;
  font-size: 36px;
}
